body, html {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: HelveticaNeue-Light, Helvetica, sans-serif;
   background: rgb(224, 224, 224);
}

label {
   cursor: inherit;
}

canvas {
   width: 100%;
   height: 100%;
}

form {
   display:inline;
}

.link {
   cursor: pointer;
}

#container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

#requirementsEditor {
   background: rgba(255,255,255,0.7);
   width:530px;
   height:100%;
   cursor: pointer;
   position: absolute;
   right: 200px;
   display: none;
   font-size: 14px;
}

.requirementsEditorSite input {
   width: 50px;
}

.requirementsEditorCustom {
   overflow: scroll;
}

.requirementsEditorCustom .accordion {
   margin-top: 40px;
   padding-right: 20px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.shellIcon {
   padding: 2px;
   height: 35px;
   width: 35px;
   border:1px solid white;
   margin-top: 5px;
   margin-right: 5px; 
   background-color: transparent;
}
.shellIcon.selected {
   background-color: deepskyblue;
}

.coreRequirement {
   display: block;
   padding: 5px;
}

.coreInputLabel, .coreInputDiv {
   display: inline-block;
   vertical-align: baseline;
   width: 160px;
}

.coreSlider {
   height: 4px;
   width: 130px;
   -webkit-appearance: slider-horizontal
}

.coreSlider .ui-slider-range {
   background: rgb(224, 224, 224);
}

.coreSlider .ui-slider-handle {
    width: 14px; 
    height: 14px; 
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    text-indent: 17px
}

.prioritiesPane {
   font-size: 14px;
   text-align: right;
   display: inline-block;
   margin-left: 40px;
}

.prioritiesPane .projectManagerSubLabel {
   text-align: left;
   margin-left: -25px;
}

#useButtonsLibrary {
   height: 350px;
   overflow: auto;
}

#library {
   position: absolute;
   right: 0;
   top: 0;
   width: 200px;
   bottom: 0;
   background: rgba(255,255,255,0.7);
}

.libraryButton { 
   font-size: 24px;
   padding: 5px;
   padding-top: 1px;
   padding-bottom: 1px;
   background: rgba(242,242,242,0.7);
   margin-top: 6px;
   cursor: pointer;
   overflow: hidden;
}

.librarySubButton { 
   font-size: 14px;
   padding: 2px;
   padding-left: 47px;
   background: rgba(242,242,242,0.7);
   cursor: pointer;
}

.libraryButtonLabel {
   vertical-align: 6px;
   cursor: pointer;
   float:left;
}

.libraryButtonSubtext {
   font-size: 14px;
   vertical-align: 6px;
   margin-bottom: 2px;
}

.libraryMainButton {
   width: 30px;
   height: 30px;
   padding-right: 10px;
   float:left;
}

.librarySecondaryButton {
   width: 15px;
   height: 15px;
   float: right;
   padding-right: 10px;
   padding-top: 8px;
}

.deleteUseButton {
   width: 10px;
   height: 10px;
}

#viewControls {
   position: absolute; 
   bottom: 0; 
   border-top: 1px solid silver;
   width: 100%;
   text-align: center;
}

#viewControls .libraryButton {
   margin-top: 0;
   padding-top: 6px;
   display: inline-block;
}

#viewControls .libraryButton img {
   padding: 3px;
}

#viewControls .libraryButtonLabel {
   display: none;
}

.fullscreenBackdrop {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background: rgba(235,235,235, 0.9);
   font-size: 36px;
   color: #333;
   overflow: hidden;
   z-index: 1000;
}

/* Bubble Diagram */
.link {
   stroke: #b0b0b0;
   stroke-width: 5px;
}

.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

.node circle {
  cursor: move;
  stroke: rgba(255,255,255,0.7);
  stroke-width: 2px;
}

.node.selected circle {
   stroke: #999;
   stroke-dasharray: 10,2;
}

.node.fixed circle{
   stroke-width: 2px;
   stroke: #999;
}

.node text {
  cursor: move;
  font-size: 13px;
}

.popup {
   position: absolute;
   background-color: rgba(255,255,255,0.98);
   border: 1px #ccc solid;
   border-radius: 5px;
   box-shadow: #333 2px 2px 4px;
   padding: 8px;
   font-size: 12px;
}

.popup h2 {
   margin: 0 0 1rem 0;
}

.popupButton {
   width:15px; 
   height:15px; 
   float:right;
   margin-top:2px;
   margin-right:2px;
}

.popupTextBox {
   margin-left:2px;
}
                  

/* Dropdown menus */

.levelsDropdown, .designOptionsDropdown, .generateDropdown {
   position: absolute;
   background: rgba(242,242,242,0.9);
   border: 1px solid silver;
   list-style: none;
   padding: 0;
   margin: 0;
   z-index: 6;
   display: none;
}

.levelsDropdown {
   bottom: 6px;
   right: 6px;
}
   
.designOptionsDropdown {
   font-size: 12px;
   left: 0px;
   top: 0px;
   text-transform: uppercase;
   overflow: hidden;
}

.generateDropdown {
   font-size: 15px;
   text-transform: uppercase;
}

.levelsDropdown li, .designOptionsDropdown li, .generateDropdown li {
   cursor: pointer;
   padding: 5px;
   padding-top: 2px;
}

.levelsDropdown li:hover, .designOptionsDropdown li:hover, .generateDropdown li:hover  {
   background: rgba(255,255,255,0.9);;
}

.selectedDropdownRow {
   background: rgba(200,200,200,0.9);
}

.toolbarPaneHead {
   font-size: 20px;
}

/* Project manager & design option manager] */

.projectManagerTitle {
   font-size: 48px;
   text-transform: uppercase;
}

.projectManagerLabel {
   margin-top: 24px;
   font-size: 32px;
   text-transform: uppercase;
}

.projectManagerSubLabel {
   margin-top: 18px;
   font-size: 18px;
   text-transform: uppercase;
}

.projectManagerHeaderLinkLeft {
   font-size: 48px;
   text-transform: uppercase;
   color: rgb(180,180,180);
   font-size: 18px;
}

.projectManagerHeaderLinkRight {
   font-size: 48px;
   text-transform: uppercase;
   color: rgb(200,200,200);
   float: right;
}

.designOptionList .projectManagerHeaderLinkRight {
   font-size: 20px;
   margin-top: -40px;
}

.projectManagerHeaderLinkRight .link {
   text-align: right;
   margin-top: 3px;
}

.designOptionList {
   white-space: normal;
   overflow: auto;
   min-width: 300px;
}

.projectManagerContent {
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
}

.projectManagerLeftPane {
   float: left;
   padding-right: 60px;
}

#designOptionsViewer .requirementsEditor {
   position:relative;
   font-size: 14px;
   background: rgba(255,255,255,0.7);
   cursor: pointer;
   margin: 12px;
}

/* Controls for managing design options */
.designListControlElements {
   position: relative;
   font-size: 12px;
   text-transform: uppercase;
   vertical-align: middle;
   display: inline-block;
}

.weightScoreSliderLabel {
   position: relative;
   top: 10px; 
   display: inline-block
}

.scorePanel {
   position: absolute;
   top: 2px; 
   z-index: 2
}

.generatorIcon {
   position: relative;
   font-size: 14px;
   color: rgb(200,200,200);
}

.stateIcon {
   width: 12px;
   height: 12px;
   border-radius: 2px;
   margin: 3px;
}

.optionSelector {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
}

.designOptionsComparator {
   height:500px; 
   background: rgb(224, 224, 224);
   display: none;
   border: 1px solid white;
   margin: 10px;
}

/* Radar chart */
.radarChartContainer {
   position: absolute;
   background: rgb(224, 224, 224);
   width: 200px;
   height: 200px;
   z-index: 4;
}

.thumbnailRadarChart {
   margin: 15px;
}

.comparisonRadarChart {
   margin-left: 60px;
   margin-top: 30px;
}

.radar-chart .area {
  fill-opacity: 0.5;
}

.defaultRadarChart {
  fill: #ADD8E6;
  stroke: none;
}

.radar-chart.focus .area {
  fill-opacity: 0.3;
}

.radar-chart.focus .area.focused {
  fill-opacity: 0.7;
}

/* Viewing projects or design options by thumbnail */

.fullscreenThumbnailViewer {
   cursor: auto;
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   padding: 40px;
   bottom: 0;
   overflow: scroll;
}

.thumbnailListContainer {
   font-size: 18px;
   padding-left: 0;
   position: relative;
}

.thumbnail, .statusThumbnail  {
   background: rgb(224, 224, 224);
   margin: 10px;
   position: relative;
   cursor: pointer;
   width: 200px;
   height: 200px;
   background-size: 200px 200px;
   border: 1px solid white;
   display: inline-block;
}

.statusThumbnail {
   text-align: center;
}

.genStatus {
   position: absolute;
   z-index: 10;
   color: #f2f2f2;
   font-size: 80px;
   width: 200px;
}

.jobStatus {
   position: absolute;
   z-index: 10;
   color: white;
   font-size: 18px;
   left: 0;
   right: 0;
   bottom: -5px;
}

.selectedDesign {
   border: 1px solid yellow;
}

.thumbnail img {
   position: absolute;
   left: 0;
   top: 0;
   width: 200px;
   height: 200px;
   z-index: 1;
}

.thumbnailListContainer .newButton {
   border: 3px dashed white;
   background: none;
   width: 196px;
   height: 196px;
}

.thumbnailListContainer .newButton img {
   height: 30px;
   width: 30px;
   margin: 70px 85px;
}

.thumbnailListContainer .newButton .thumbnailCaption {
   font-weight: bold;
}

.thumbnailCaption {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 5px;
   background: rgba(100, 100, 100, 0.3);
   color: white;
   transition: background .15s ease-in-out;
   z-index: 2;
}

.thumbnail:hover .thumbnailCaption {
   background: rgba(100, 100, 100, 0.6);
}

.thumbnail:hover .thumbnailLink {
   text-decoration: underline;
}

.thumbnailDelete{
   position: absolute;
   right: 5px;
   top: 0;
   font-size: 24px;
   color: darkred;
   z-index: 5;
}

.thumbnailFlip{
   position: absolute;
   right: 25px;
   top: 0;
   font-size: 24px;
   color: darkred;
   z-index: 5;
}

.thumbnailDelete:hover, .thumbnailFlip:hover {
   color: red;
}

.thumbnailList li {
    float: left;
}

.thumbnailList {
   list-style: none;
   margin: 0;
   padding: 0;
}

/* Creating new projects */

.projectCreator {
   margin: 0 auto;
   margin-top: 50px;
   width: 400px;
   cursor: auto;
   background: rgba(242, 242, 242, 0.9);
   padding: 40px;
   border-radius: 5px;
}

.projectCreator input  {
   line-height:24px;
   border-style:solid;
   border: none;
   height: 30px;
   background: white;
   padding: 2px;
   width: 200px;
   margin: 5px;
   vertical-align: text-top;
}

.projectCreatorTitle {
   margin-bottom: 20px;
}

.projectCreatorProgramButton {
   display: inline-block;
   font-size: 18px;
   padding: 20px;
   text-align: center;
   cursor: pointer;
}

.projectCreatorProgram {
   margin: 0 auto;
   margin-top: 20px;
}

.projectCreatorProgram div {
   text-decoration: underline;
}

.projectCreatorProgramButton img {
   width: 50px;
   height: 50px;
}

.projectCreatorProgramButton:hover {
   opacity: 0.5;
}


/* Get info about spaces on hover */

#infoPane {
   position: absolute;
   background-color: gray;
   color: white;
   padding: 8px;
   display: none;
}

#infoPane h2 {
   font-weight: normal;
   font-size: 14px;
}

#infoPane table .tooFar {
   color: rgb(255, 255, 125);
}

#infoPane table .satisfied {
   color: rgb(125, 255, 125);
}

#infoPane table .unreachable {
   color: rgb(255, 150, 150);
}

#infoPane table, #infoPane th, #infoPane td {
   border: 1px solid silver;
   font-size: 12px;
   border-collapse: collapse;
   padding: 2px;
}

#infoPane th {
   font-weight: normal;
}

#generatorStatusDisplay {
   position: absolute;
   left: 20;
   top: 20;
   color: black;
   font-size: 30px;
}

#disconnectionWarning {
   width: 200px;
   font-size: 22px;
   background: rgb(240, 240, 240);
   padding: 20px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}


#disconnectionWarning * {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-size: 30px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
