<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Drawing</title>

        <!-- Bootstrap -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body onload="pull_draw_data();">
        <div style="height: 500px; align: center; border-style: solid; border-width: 2px; border-color: black;" id="draw-shapes">
        </div>

        <button type="button" class="btn btn-lg btn-default" onclick="enable_refresh()()">Start</button>
        <button type="button" class="btn btn-lg btn-default" onclick="disable_refresh()">Stop</button>
        <button type="button" class="btn btn-lg btn-default" onclick="step_grid()">Step</button>
        <button type="button" class="btn btn-lg btn-default" onclick="change_grid()">Change</button>
        <button type="button" class="btn btn-lg btn-default" onclick="reset_grid()">Reset</button>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/two.js"></script>
        <script src="static/js/draw.js"></script>
    </body>
</html>
